* {
  margin: 0;
  box-sizing: border-box;
}
body{
    margin-left: 30px;
}
h1 {
  color: blueviolet;
  text-align: center;
}

p{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    width: 20%;
}